img {
    max-width: 400px;
    height: 500px;
}

.about-box {
    width: 600px;
    min-height: 450px;
    text-align: center;
    margin-top: 10px;
}

mat-icon {
    font-size: 100px;
    margin-left: -70px;
}