<h1 class="app-page-heading">{{ contactHeader }}</h1>
<hr />

<section>
  <div fxLayout.md="row wrap" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div class="contact-box">
      <mat-icon>email</mat-icon>
      <h1>{{ emailHeader }}</h1>
      <p>bill@billhorst.com</p>
    </div>
    <div class="contact-box">
      <mat-icon>phone</mat-icon>
      <h1>{{ phoneHeader }}</h1>
      <p>+1-719-651-4797</p>
    </div>
    <div class="contact-box">
      <mat-icon>place</mat-icon>
      <h1>{{ addressHeader }}</h1>
      <p>550 Sycamore Dr.</p>
      <p>Windsor, CO 80550</p>
    </div>
  </div>
</section>




<!-- <p>Fill in the below info and hit 'Submit'</p>
  <p>Give us your name (or company's name), email address, and leave some notes if you want.</p> -->
<!-- <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput type="text" placeholder="{{ namePlaceholder }}" formControlName="userName" />
      <mat-hint>{{ nameHint }}</mat-hint>
      <mat-error>{{ nameError }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="email" placeholder="{{ emailPlaceholder }}" formControlName="userEmail" />
      <mat-error>{{ emailError }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="{{ notesPlaceholder }}" formControlName="userNotes"></textarea>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="contactForm.invalid">{{ submitButtonValue }}</button>
  </form> -->
<!-- for now, make the contact page look like the image here, later on, when I figure out how to add a form that will send me an email, ADD it to the page (don't replace the existing feature) -->