
<section>
  <h1>Contact Us</h1>
  <p>Fill in the below info and hit 'Submit'</p>
  <p>Give us your name (or company's name), email address, and leave some notes if you want.</p>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput type="text" placeholder="{{ namePlaceholder }}" formControlName="userName" />
      <mat-hint>{{ nameHint }}</mat-hint>
      <mat-error>{{ nameError }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="email" placeholder="{{ emailPlaceholder }}" formControlName="userEmail" />
      <mat-error>{{ emailError }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="{{ notesPlaceholder }}" formControlName="userNotes"></textarea>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="contactForm.invalid">{{ submitButtonValue }}</button>
  </form>
</section>