/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
    font-family: 'Roboto Mono', monospace;
    height: 100%;
}

body {
    margin: 0;
}

.app-page-heading {
    font-family: calibri;
    font-size: 45px;
    text-align: center;
    padding-top: 20px;
}

.app-page-secondary-heading {
    font-family: calibri;
    font-size: 36px;
}

body {
    background-image: url('./assets/images/tree_circuit.jpg');
    background-size: cover;
}