.home-service-jumbotron {
    background-image: url('../../assets/images/tree_circuit.jpg');
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-service-jumbotron-text {
    padding: 1px 0px 15px 0px;
    font-family: 'Times New Roman';
    letter-spacing: 2px;
    line-height: 24px;
    text-align: center;
    /* color: rgb(255,64,129); */
    color: rgb(63, 81, 181);
    background-color: white;
    position: relative;
    top: 15%;
}

.home-service-jumbotron-text h1 {
    font-size: 50px;
    line-height: 44px;
}

.home-service-jumbotron-text mat-icon {
    position: relative;
    top: 3px;
}

@media only screen and (max-width: 550px) {
    .home-service-jumbotron-text h1 {
        font-size: 34px;
        line-height: 32px;
    }
    .home-service-jumbotron-text {
        padding: 1px 0px 15px 0px;
        letter-spacing: 1px;
        line-height: 24px;
        top: 15%;
    }
}

.home-services-paragraph {
    font-size: 15pt;
}

.home-box {
    width: 400px;
    height: 250px;
    text-align: center;
    margin-top: 10px;
}

mat-card mat-icon {
    font-size: 80px;
    margin-left: -60px;
    color: rgb(63, 81, 181);
}

button {
    font-size: 28pt;
    height: 60px;
}

/*  ...  */
.nowrap {
    white-space: nowrap;
}